* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 785px;
    background: #235390;
}
footer{
    height: 100%;
    width: 100%;
    background: #235390;
    background-image: url(/pictures/estrelas.png);
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Inter", serif;
    color: white;
    size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    font-family: "Inter", serif;
    size: 16px;
}
.a-azul{
    font-family: "Inter", serif;
    font-size: 13px;
    color: #1CB0F6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.main{
    width: 1000px;
    margin: 0 auto;
}

.box-topo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    margin: 5% 0%;
    border-bottom: 2px solid #E5E5E5;
}

.cor-branca {
    color: white;
}

.box-topo .menu-vertical {
    display: flex;
    align-items: center;
    font-family: "Inter", serif;
    font-size: 13px;
}

.box-topo .menu-vertical img {
    height: 12px;
    width: 6px;
    margin: 5px;
}

.informacoes-extras-cabecalho {
    height: 711px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/pictures/estrelas.png);
}

.botao-verde {
    width: 320px;
    height: 46px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #58CC02;
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 13px;
    box-shadow: 0px 4px 0px 0px #58A700;
    margin-bottom: 15px;
}
footer .botao-verde{
    width: 151px;
}

.botao-i-already-have-an-account {
    width: 320px;
    height: 46px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 13px;
    border: 2px solid #042C60;
    box-shadow: 0px 2px 0px 0px #042C60;
}

.box-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-nav {
    background-color: #0A4A82;
    display: flex;
    height: 74px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.box-nav img {
    height: 22px;
    width: 22px;
}

.box-nav ul {
    display: flex;
    list-style: none;
    font-family: "Inter", serif;
    color: white;
    font-size: 14px;
    width: 1000px;
    justify-content: space-between;
}

.img-flecha-esq {
    margin-right: 20px;
}

.img-flecha-dir {
    margin-left: 20px;
}

.main-div-1 {
    display: flex;
    align-items: center;
    margin: 5% 10%;
    justify-content: space-evenly;
}
.main-div-1 img{
    margin-right: 20px;
}
.conteudo-div-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subtitulo-main {
    font-family: "Inter", serif;
    size: 22px;
}
.main-div-1 .subtitulo-main{
    margin-bottom: 30px;
}
.conteudo-div-2{
    width: 100%;
}
.conteudo-div-2 .coluna-2-div-2{
    margin: 0px 60px;
}

.conteudo-div-2 .subtitulo-main{
    text-align: center;
    margin-bottom: 60px;
}
.conteudo-main {
    font-family: "Inter", serif;
    color: #777777;
    size: 15px;
}

.linha-1 {
    display: flex;
}
.conteudo-div-1 h2{
    justify-content: center;
    width: 100%;
}

.conteudo-coluna-main{
    font-family: "Inter", serif;
    size: 14px;
    color: #777777;

}
.icone-texto{
    display: flex;
    margin-bottom: 20px;
}
.icone-texto img{
    margin-top: -10px;
    width: 43px;
    height: 43px;
}
.linha-3-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha-3-main img{
    margin-right: 30px;
}
.coluna-1-linha-3-main{
    display: flex;
    height: 147px;
    flex-direction: column;
    justify-content: space-between;
}
.linha-4-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coluna-1-linha-4-main{
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coluna-1-linha-4-main img{
    width: 192px;
    height: 69px;
    margin-right: 10px;
}
.linha-5-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha-5-main img{
    margin-right: 40px;
}
.coluna-1-linha-5{
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linha-6-main{
    display: flex;
    align-items: center;
}
.coluna-1-linha-6{
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linha-7-main{
    display: flex;
    align-items: center;
}
.linha-7-main img{
    margin-right: 40px;
}
.coluna-1-linha-7{
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}
.linha{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;
}
.linha a{
    margin-bottom: 7px;
}
.linha h3{
    margin: 10px 0px;
}

.linha-coluna{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.linha-coluna-extra{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.linha-coluna h3{
    color: white;
}
.linha-coluna a{
    font-family: "Inter", serif;
    color: #FFFFFF80;
    size: 13px;
    text-decoration: none;
}
footer .linha-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 100px;
}
.linha-btn a{
    margin-left: 50px;
}
.linha-linguas{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.linha-linguas h3{
    color: white;
    margin-bottom: 15px;
}
.linha-linguas ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-family: "Inter", serif;
    color: #FFFFFF80;
    flex-wrap: wrap;
    gap: 15px;
}
.container-footer{
   width: 1000px;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}